.header img {
    height: 90%;
    width: 200px;
    margin-top: 2px;
}

.header {
    height: 80px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}