.exercise img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.exercise {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.exercise-info {
    margin: 0 14px;
}

.exercise-info p {
    margin-bottom: 0;
    margin: 5px;
}

.btn-cart {
    width: 100%;
    background-color: blueviolet;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cart p {
    color: white;
}

.btn-cart:hover {
    background-color: green;
}

.btn-cart .btn-text {
    margin-right: 10px;
}