.gym-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.exercises-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
}

@media screen and (max-width: 1100px) {
    .exercises-container {
        grid-template-columns: repeat(2, 1fr);
    }

}